
html{
    background-color:black ;
    
}
#container{
    background-color: black;
}
#menu{
    background-color: rgb(247, 231, 20);
    display: inline-block;
    width: 100%;    
    
    
}
#logo{
    
    margin-top:0.1%;
}
#label-logo{
    font-family:  monospace;
    font-size: 30px;
    color:black;

    
}
#itens{
    margin-top: 2%; 
    cursor: pointer;
    border: none;
    float:left;
    background-color:rgb(247, 231, 20) ;
    font-weight: bold;
    margin-left: 2%;
    
    
    
}
.menuitem{
    color:black;
    text-decoration: none;
    margin-right: 20px;
}
.menuitem:hover{
    color:rgb(41, 41, 41);
    text-decoration: none;
}

#img-logo{
   float: left;
   margin-left: 10%;
   cursor: pointer;
}
#img-logo:hover{
    opacity: 60%;
}
#logout{
    
    float: right;
    border-radius: 7px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-color: rgb(238, 235, 34);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 5px;
    margin-right: 2%;
    
    padding: 5px 15px 5px 15px;
    cursor: pointer;
   
    
    
}
#logout:hover{
    border-color: rgb(245, 185, 20);
    background-color:  black;
    color: yellow;
}



#topcontent{
    margin-top: 20px;
    background-color: rgba(251, 255, 25, 0.616);
    color: black;
    margin-left: 10%;
    list-style: none;
    margin-right: 10%;
    border-radius: 6px;
}
