
html{
    background-color:black ;
    
}
#container{
    background-color: black;
}
#menu{
    background-color: rgb(247, 231, 20);
    display: inline-block;
    width: 100%;    
    
    
}
#logo{
    
    margin-top:0.1%;
}
#label-logo{
    font-family:  monospace;
    font-size: 30px;
    color:black;

    
}
#itens{
    margin-top: 2%; 
    cursor: pointer;
    border: none;
    float:left;
    background-color:rgb(247, 231, 20) ;
    font-weight: bold;
    margin-left: 2%;
    
    
    
}
.menuitem{
    color:black;
    text-decoration: none;
    margin-right: 20px;
}
.menuitem:hover{
    color:rgb(41, 41, 41);
    text-decoration: none;
}

#img-logo{
   float: left;
   margin-left: 10%;
   cursor: pointer;
}
#img-logo:hover{
    opacity: 60%;
}
#logout{
    
    float: right;
    border-radius: 7px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-color: rgb(238, 235, 34);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin-top: 2%;
    margin-bottom: 5px;
    margin-right: 2%;
    
    padding: 5px 15px 5px 15px;
    cursor: pointer;
   
    
    
}
#logout:hover{
    border-color: rgb(245, 185, 20);
    background-color:  black;
    color: yellow;
}



#area-filme{
    margin-top: 20px;
    background-color: rgba(251, 255, 25, 0.616);
    color: black;
    margin-left: 10%;
    list-style: none;
    margin-right: 10%;
    border-radius: 6px;
}
#imagem{
    
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 8px;
    border-color: yellow;
    border-width: 4px;
    border-style: solid;
}
#descricao{
    margin-top: 30px;
    width: ;
}
#filme{
    display: flex;
    font-family: 'Poppins', sans-serif;
}
iframe{
    width: 600px;
    height: 300px;
    margin-bottom: 3%;
    border-radius: 8px;
    border-width: 5px;
    border-color: yellow;
    border-style: solid;    
}
#botao-assistir,#botao-voltar{
    border-style: hidden;
    background-color:  rgb(255, 209, 6);
    border-radius: 8px;
    width: max-content;
    font-family: 'Poppins', sans-serif;
    height: 5%;
    font-weight: bold;
    margin-bottom: 0.5%;
    color: rgba(255, 72, 0, 0.781);
}
#botao-assistir:hover,#botao-voltar:hover{
    background-color: rgba(255, 72, 0, 0.781);
    border-color: rgb(184, 89, 25);
    color: rgb(255, 209, 6);
    font-weight: bold;
    cursor: pointer;
    
}

#voltar{
    margin-top: 30px;
    margin-right: 20px;
}
p{
    text-align: justify;
}